<form method="post" class="form-horizontal" id="{{ id }}">
    {% if g.ajax %}
    <script type="text/javascript">
    $(function () {
        window.visited = {};
        // setup our listeners
        $("#{{ id }}").find("[data-piecewise]").each(function() {
            var v = $(this).attr("id");
            visited[v] = false;
            var type = $(this).attr("data-piecewise")
            if (type == "blur")
                $(this).blur(function() { window.visited[v] = true; });
            else
                $(this).keyup(function() { window.visited[v] = true; });
        });
    });
    </script>
    {% endif %}
    {% if g.ajax %}
    <script type="text/javascript">
    $(function () {
    ajax_activate("{{ id }}",
        function (id, error, data) {
            if (error) {
                $('#' + id + '_error').html(data['message']);
                $('#' + id + '_error').show();
            } else {
                $('#' + id + '_error').hide();
            }
        },
        function () {
        });
    });
    </script>
    <input type="hidden" name="_ajax_" value="True"/>
    {% endif %}
    {% for key, val in hidden.iteritems() %}
    <input type="hidden" name="_arg_{{ key }}" value="{{ val }}" />
    {% endfor %}
    {% if title %}
    <h2>{{ title }}</h2>
    {% endif %}
